parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#has no return type specified#'
        - '#has parameter .* with no type specified#'
        -
            identifier: missingType.iterableValue
